#container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.listcontainer {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;
}

.dockbox,.haulerbox,.shippingshipbox {
    flex-basis: 30%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
    padding: 1rem;
}

